*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
   margin: 100px auto;
    max-width: 1200px;
}
.wrapper nav{
    display: flex;
    justify-content: center;
}
nav .items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 720px;
    width: 100%;
}
nav .items .item{
    padding: 6px 22px;
    font-size: 19px;
    border: 1px solid blue;
    border-radius: 8px;
}
nav .items .item:hover{
    background-color: rgb(55, 43, 226);
    cursor: pointer;
    color: white;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.gallery .image{
    width: calc(100% / 4);
}
.gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.gallery .image.hide{
 display: none;   
}
.gallery .image.show{
    display: block;   
}
.gallery .image img{
    width: 100%;
    vertical-align: middle;
}
.gallery .image:hover img{
    transform: scale(1,1);
    cursor: pointer;
}